!!! 5
html
  head
    block head
      title KlimaServer 1.0
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='/css/font-awesome.min.css', rel='stylesheet')
      link(rel='stylesheet', type='text/css', href='/css/jquery.easy-pie-chart.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(href='/css/bootstrap-slider.css', rel='stylesheet')
      link(href='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css', rel='stylesheet')
      script(src='http://code.jquery.com/jquery.js')
      script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
      script(src='/js/jquery.flot.js')
      script(type='text/javascript', src='/js/jquery.easy-pie-chart.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/klima.js')
body
  .container
    .row
      .span12
        img(src='/img/logo.png')
    block content
